{%- capture block_settings -%}
  [
    {%- for block in section.blocks -%}
     {{ block.settings }}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
{%- endcapture -%}

<div
  class="tabs tabs-section"
  data-section-settings="{{ section.settings }}"
  {% comment %}
    There is an issue with this section.blocks data that is not being possible to parse and be usable when the tsx component get it.
  {% endcomment %}
  {% comment %} data-section-blocks="{{ section.blocks }}" {% endcomment %}

  {% comment %}
    Here I tried to use it through the capture but the result is not possible to parse with json filter
  {% endcomment %}
  data-section-blocks="{{ block_settings | json }}"
>
  <div class="tab-header bg-gray-200 py-2 px-4">
    {% for block in section.blocks %}
      <button
        class="tab-button bg-[{{ block.settings.tab_color }}]-200 text-[{{ block.settings.tab_color }}]-800 hover:bg-[{{ block.settings.tab_color }}]-300 hover:text-[{{ block.settings.tab_color }}]-900 focus:bg-[{{block.settings.tab_color}}]-300 focus:text-[{{block.settings.tab_color}}]-900"
        onclick="changeTab(event, 'tab{{ forloop.index }}')"
      >
        {{ block.settings.tab_title }}
      </button>
    {% endfor %}
  </div>

  <div class="tab-content p-4">
    {% for block in section.blocks %}
      <div id="tab{{ forloop.index }}" class="tab-item hidden">
        {{ block.settings.tab_content }}
      </div>
    {% endfor %}
  </div>
</div>
